* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    line-height: 1.6;
    text-align: center;
}



header {
    background: linear-gradient(135deg, gold, orange);
    color: black;
    padding: 35px;
    text-align: center;
}

hr {
    border-color: white;
    border-style: dashed;
}

header h1 {
    color: black;
    font-family: 'Orbitron', sans-serif;
}

section h2 {
    color: gold;
}

.card-contain {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(49, 47, 47);
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(247, 210, 5, 0.8);
    border: 1px solid gold;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 4px 5px 12px rgba(221, 217, 198, 0.8);

}

.card h3 {
    color: gold;
    margin-top: 10px;
}

section h2 p {
    background-color: gold;
    color: white;
    padding: 35px;
    text-align: center;

}

#hr {
    border-color: gold;
}

video {
    border-radius: 5px;
    border: 4px solid gold;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(247, 210, 5, 0.8);
}

.box {
    width: 500px;
    height: 350px;
    border-style: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(247, 210, 5, 0.8);
    position: relative;
    background-color: rgb(49, 47, 47);
    text-align: left;
    padding-left: 20px;
    padding-top: 40px;
    margin: 70px;
}



.box h3 {
    color: gold;

}

footer {
    background: linear-gradient(135deg, gold, orange);
    color: black;
    padding: 20px;

}

.replay-btn {
    background-color: gold;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    display: inline-block;
    margin-top: 15px;
    margin: 5px;
}
.replay-btn:hover {
    background-color: red;
    box-shadow: 0px 4px 10px rgba(221, 217, 198, 0.8);
}

.rate-btn{
    background-color: gold;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    display: inline-block;
    margin-top: 15px;
    margin: 5px;
    
}
.rate-btn:hover {
    background-color: red;
    box-shadow: 0px 4px 10px rgba(221, 217, 198, 0.8);
}


  